export STONECODE=123123123
export USER_EMAIL=example@email.com
export USER_PRD_PASSWORD=mypassword123
export USER_STG_PASSWORD=mystgpassword123
export API_PRD_URL=http://google.com
export API_STG_URL=http://google.com